@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    overflow: auto;
}

/* Section Accueil */

#accueil {
    background: url(images/home1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding:1vh;
}

#accueil header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vw;
}

.logo img {
    height: 3vh;
}
#accueil header nav{
    display: flex;
    width: 40%;
    justify-content: space-between;
    cursor: pointer;
}
#accueil header nav a{
    text-decoration: none;
    text-align: center;
    width: 60%;
    color: white;
    font-size: 0.8vw;
}
#accueil header nav a:hover {
    color: #c1b086; 
    transition: color 0.3s ease-in-out; 
}

#accueil h1 {
    position: relative;
    margin-left: 15vw;
    margin-top: 35vh;
    padding: 2vh;
    font-family: 'Roboto Slab',serif;
    font-size: 3vw;
    font-style: normal;
    color: white;
    z-index: 1;
}

#accueil div h1::after {
    content: "H"; 
    position: absolute;
    transform: translate(-46vh, -30vh);
    font-size: 50vh; 
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2); 
    z-index: 0; /* Derrière le texte */
    font-family: 'Roboto Slab',serif;
}

#accueil div p {
    text-align: justify;
    justify-content: right;
    margin-left: 22vw;
    margin-right: 40vw;
    font-family: 'Roboto Slab';
    font-size: 0.7vw;
    color: white;
}

/* Section About */

#about {
    display: flex;
    justify-content: center; /* space-between*/
    align-items: center;
    padding: 50px 10%;
    background-color: white;
    min-height: 100vh;
}

.about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: center;
}

.image1:hover {
    transform: scale(1.1);
}
.image2:hover {
    transform: scale(1.1);
}

.image1 {
    width: 60%;
    height: 20%;
    object-fit: cover;
    margin-top: 30%;
    margin-left: -35%;
    border: 3px solid rgb(193, 176, 134);
    border-radius: 10px;
    box-shadow: 8px 8px 15px black;
    z-index: 0;
}
.image2 {
    width: 55%;
    height: 20%;
    margin-top: -25%;
    margin-left: 20%;
    margin-bottom: 25%;
    border: 3px solid rgb(193, 176, 134);
    border-radius: 10px;
    box-shadow: 8px 8px 15px black;
    z-index: 1;
}

.about-textes {
    width: 50%;
}

.about-textes h3 {
    font-weight: 400;
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
}

.texte1 {
    font-size: 12px;
    text-align: justify;
    margin-left: 20%;
}

.texte2 {
    font-size: 12px;
    text-align: justify;
    margin-left: 20%;
    margin-bottom: 10%;
}

.about-textes a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20%;
    color: white;
    border: 3px solid white;
    background-color: rgb(193, 176, 134);
    width: 80px;
    height: 30px;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.3);
}

.sous-titre  {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 10%;
    text-align: left;
    color: rgb(44, 43, 43);
    position: relative;
    top: -10px;
}

.sous-titre::after {
    content: "";
    display: block;
    width: 85px;
    height: 4px;
    background-color: rgb(193, 176, 134);
    position: absolute;
    top: -20px;
    left: 0;
} 



/* Section Amenities */

#amenities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100vw; 
    position: relative;
}

.background-con {
    position: relative;
    width: 100%;
    height: 60vh;
    background: url('images/ami.jpg') no-repeat center center;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 0.2vw solid rgb(193, 176, 134);
}

.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 40vw; 
    background: rgba(63, 156, 193, 0.7);
    color: white;
    padding: 2vw;
    border-radius: 2vw;
    border: 0.2vw solid rgb(193, 176, 134);
    box-shadow: 0.2vw 1.5vw 2vw rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    opacity: 0.3;
    height: auto;
    margin-top: 30%;
    margin-left: 40%;
}

.overlay-text:hover {
    opacity: 1;
    background-color: rgba(63, 156, 193, 0.8);
}

.sous-titre-amt {
    font-size: 2rem;
    font-weight: normal;
}

.texte-amt {
    font-size: 1rem;
    text-align: justify;
}

.icon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    font-size: 1rem;
    width: 100%;
}

#amenties span {
    margin-right: 1vw;
}

.background-con nav {
    position: absolute;
    bottom: -30vh; 
    right: 3vw; 
}

.background-con nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(193, 176, 134);
    border: 0.1vw solid white;
    padding: 0.5vw 1vw;
    border-radius: 3vw;
    box-shadow: 0.2vw 1.5vw 2vw rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
    font-size: 1rem;
}


/* Section Rooms */

#rooms {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.chambres {
    display: grid;
    grid-template-areas:
        "chambre1 chambre2 chambre3";
    justify-content: center; 
    gap: 20px;
    width: 90%; 
    margin-left: 5%;
    margin-right: 5%;
}

.chambres div {
    display: flex;
    flex-direction: column;
    height: 80%;
    border: 3px solid rgb(193, 176, 134); 
    text-align: left;
    border-radius: 5%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chambres img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    border-top-left-radius: 5%;  
    border-top-right-radius: 5%; 
    border-bottom-left-radius: 0;  
    border-bottom-right-radius: 0;
}

.chambres h3 {
    margin-top: 10px;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 0%;
    font-weight: normal;
    color: rgb(44, 43, 43)
}

.chambres p {
    font-size: 12px;
    padding-left: 15px;
    color: rgb(159, 152, 152);
}

.chambres span {
    font-size: 16px;
    color: rgb(36, 33, 33);
}

#rooms header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

#rooms header a {
    display: flex;;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    background-color: rgb(193, 176, 134);
    width: 80px;
    height: 30px;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 5%;
    box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.3);
}

.room-title {
    margin-left: 5%;
    font-weight: normal;
    color: rgb(44, 43, 43);
    font-size: 30px;
}

.sous-titre-room  {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 15px;
    text-align: left;
    color:  rgb(108, 105, 105);
}

.sous-titre-room::after {
    content: "";
    display: block;
    width: 85px;
    height: 4px;
    background-color: rgb(193, 176, 134);
    position: relative;
    top: -30px;
}


/* Section Restaurant */

#restaurant {
    padding-top: 0;
    margin-top: 0;
    position: relative; 
    clear: both; /* Évite que la section se superpose à l'accueil */
    margin-top: 1vh;
    padding-top: 1vh;
}

.resto {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    gap: 1vw;
}

/* Contenu à gauche */
.restaurant-left img {
    width: 30vw;
    height: 70vh;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.restaurant-left {
    width: 30vw; 
    overflow: hidden; /* Cache ce qui dépasse */
    height: 70vh;
    border: 3px solid rgb(193, 176, 134);
    border-radius: 25px;
}

/* Contenu à droite */
.restaurant-right {
    height: 70vh;
    width: 60vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Titre, texte et bouton */
.restaurant-info {
    text-align: left;
    position: relative;
}

.restaurant-info h2  {
    font-size: 30px;
    color: rgb(44, 43, 43);
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin-top: 0;
}

.sous-titre-rest::before {
    content: "";
    display: block;
    width: 75px;
    height: 4px;
    margin-bottom: 10px;
    background-color: rgb(193, 176, 134);
}

.restaurant-info p{
    font-size: 12px;
    margin-bottom: 5vh;
}

.restaurant-info a {
    position: absolute;
    top: 5vh;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    gap: 15px;
    width: 3vw;
    height: 3vh;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(193, 176, 134);
    box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.3);
}

/* Les plats */
.dishes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap : 1vw;
}

.dish {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid rgb(193, 176, 134);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
    height: 25vh;
}

.dish img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Overlay : caché par défaut */
.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*top: 100%;*/
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* bottom 2s ease-in-out;*/
    transform: translateY(100%); /* Déplacement initial */
}
/* Texte overlay */
.overlay h3, .overlay p {
    color: white;
    background-color: rgb(193, 176, 134,0.7);
    width: 80%;
    padding: 10px;
}

.overlay h3 {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.overlay p {
    border-radius: 15px;
    font-size: 13px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Effet au survol */
.dish:hover .overlay {
    bottom: 0; /*top*/
    opacity: 1;
    transform: translateY(0); /* Remonte progressivement */
}

}

/* Section Gallery */

#gallery {
    width: 100%;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}
.sous-titre-gallery  {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-left: 10%;
    text-align: left;
    color:  rgb(51, 51, 51);
    gap: 10px;
}

.sous-titre-gallery::before {
    content: "";
    display: block;
    width: 75px;
    height: 4px;
    background-color: rgb(193, 176, 134);
}

.header-gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 10%; 
}

.titre-gallery {
    font-size: 30px;
    font-weight: normal;
}

.header-gallery a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 20%;
    color: white;
    border: 3px solid white;
    background-color: rgb(193, 176, 134);
    width: 80px;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.3);
}

input[type="radio"] {
    display: none;
}

.gallery-display {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    flex-grow: 1;
    margin-right: 5%;
    margin-top: 5%;
}

/* Style de base pour toutes les images */
.gallery-item {
    height: auto;
    border: 3px solid rgb(193, 176, 134);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 10%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Lorsque l'un des inputs est sélectionné, l'image associée devient plus grande */
#img1:checked ~ .gallery-display label[for="img1"],
#img2:checked ~ .gallery-display label[for="img2"],
#img3:checked ~ .gallery-display label[for="img3"],
#img4:checked ~ .gallery-display label[for="img4"],
#img5:checked ~ .gallery-display label[for="img5"],
#img6:checked ~ .gallery-display label[for="img6"],
#img7:checked ~ .gallery-display label[for="img7"],
#img8:checked ~ .gallery-display label[for="img8"] {
    width: 55%;
}

/* Les autres images deviennent plus petites */
#img1:checked ~ .gallery-display label:not([for="img1"]),
#img2:checked ~ .gallery-display label:not([for="img2"]),
#img3:checked ~ .gallery-display label:not([for="img3"]),
#img4:checked ~ .gallery-display label:not([for="img4"]),
#img5:checked ~ .gallery-display label:not([for="img5"]),
#img6:checked ~ .gallery-display label:not([for="img6"]),
#img7:checked ~ .gallery-display label:not([for="img7"]),
#img8:checked ~ .gallery-display label:not([for="img8"]) {
    width: 3%;
    filter: blur(1px);
    border-radius: 50px;
}
