@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    overflow: hidden;
}

/* Section Accueil */

#accueil {
    background: url(images/home1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
}

#accueil header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo img {
    height: 30px;
}
#accueil header nav{
    display: flex;
    width: 40%;
    justify-content: space-between;
    cursor: pointer;
}
#accueil header nav a{
    text-decoration: none;
    text-align: center;
    width: 60%;
    color: white;
}
#accueil header nav a:hover {
    color: #c1b086; 
    transition: color 0.3s ease-in-out; 
}

#accueil h1 {
    position: relative;
    margin-left: 15%;
    margin-top: 15%;
    padding: 20px;
    font-family: 'Roboto Slab',serif;
    font-size: 350%;
    font-style: normal;
    color: white;
    z-index: 1;
}

#accueil div h1::after {
    content: "H"; /* Lettre en arrière-plan */
    position: absolute;
    transform: translate(-46vh, -30vh); /* Centrage */
    font-size: 50vh; /* Taille de la lettre */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2); /* Blanc transparent */
    z-index: 0; /* Derrière le texte */
    font-family: 'Roboto Slab',serif;
}

#accueil div p {
    text-align: justify;
    justify-content: right;
    margin-left: 20%;
    margin-right: 40%;
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: white;
}

/* Section Amenities */

#amenities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100vw; 
    position: relative;
}

.background-con {
    position: relative;
    width: 100%;
    height: 60vh;
    background: url('images/ami.jpg') no-repeat center center;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 0.2vw solid rgb(193, 176, 134);
}

.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 50vw;
    max-width: 30vw;  
    background: rgba(63, 156, 193, 0.7);
    color: white;
    padding: 2vw;
    border-radius: 2vw;
    border: 0.2vw solid rgb(193, 176, 134);
    box-shadow: 0.2vw 1.5vw 2vw rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    opacity: 0.3;
    height: auto;
    margin-top: 65vh;
    margin-left: 50%;
}

.overlay-text:hover {
    opacity: 1;
    background-color: rgba(63, 156, 193, 0.8);
}